@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Saira:wght@100&display=swap');

@keyframes bot {

    from {
        width: 1300px;
    }

    to {
        width: 700px;
    }
}

@keyframes light {

    from {
        color: #FFFFFF;
    }

    to {
        color: #252525;
    }
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}

nav, .start-btn, .section-modes-title, .section-modes {
    font-family: 'Press Start 2P';
}

.infos {
    font-family: 'Saira';
}

body {
    background: linear-gradient(90deg, #EB5757 0%, #2C1111 100%);
    color: #FFFFFF;
}

.logo {
    margin-left: 20px;
    cursor: pointer;
}

header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav > a {
    color: #FFFFFF;
    margin-right: 20px;
}

#section-1 {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.bot-title {
    width: 700px;
    animation-name: bot;
    animation-duration: 2s;
    cursor: pointer;
}

.start-btn {
    padding: 12px;
    cursor: pointer;
    background-color: #EA5656;
    color: #FFFFFF;
    border: 4px solid #FFFFFF;
    animation-name: light;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
}

.start-btn:hover, .section-modes-title:hover  {
    padding: 20px;
    transition: 0.3s;
    border: 8px solid #FFFFFF;
    cursor: pointer;
    font-size: large;
}

#section-2 {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section-modes-title {
    background-color: #EA5656;
    padding: 15px;
    border: 4px solid #FFFFFF;
}

.section-modes {
    margin-top: 65px;
} 

ul > li {
    list-style: none;
    padding: 12px;
    text-align: center;
}

.section-bot-button {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer {
    height: 50px;
    background: linear-gradient(90.32deg, rgba(47, 47, 47, 0.34) 0%, rgba(134, 115, 115, 0.34) 99.29%);
    margin-top: 150px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-footer {
    width: 100px;
}

a {
    text-decoration: none;
}

hr {
    margin-top: 30px;
    width: 400px;
}

@media screen and (min-width: 320px) and (max-width: 425px) {

    @keyframes bot {
    
        from {
            width: 1300px;
        }
    
        to {
            width: 150px;
        }
    }
    
    header {
        display: flex;
        justify-content: center;
    }

    .logo {
        width: 100px;
    }

    nav {
        display: none;
    }

    .bot-title {
        width: 150px;
        height: 120px;
    }

    .start-btn {
        padding: 18px;
        font-size: large;
    }

    hr {
        width: 335px;
    }

}

@media screen and (max-width: 576px) {

    @keyframes bot {
    
        from {
            width: 1300px;
        }
    
        to {
            width: 400px;
        }
    }
    
    header {
        display: flex;
        justify-content: center;
    }

    .logo {
        width: 100px;
    }

    nav {
        display: none;
    }

    .bot-title {
        width: 400px;
    }

    .start-btn {
        padding: 18px;
        font-size: large;
    }

}

@media screen and (min-width: 577px) and (max-width: 768px) {
    
    @keyframes bot {
    
        from {
            width: 1300px;
        }
    
        to {
            width: 600px;
        }
    }

    header {
        display: flex;
        justify-content: center;
    }

    .logo {
        width: 100px;
    }

    nav {
        display: none;
    }

    .bot-title {
        width: 600px;
    }

    .start-btn {
        padding: 18px;
        font-size: large;
    }

}

@media screen and (min-width: 769px) and (max-width: 992px) {

    @keyframes bot {
    
        from {
            width: 1300px;
        }
    
        to {
            width: 600px;
        }
    }

    .logo {
        width: 100px;
    }

    nav > a {
        font-size: 10px;
    }

    .bot-title {
        width: 600px;
    }

    .start-btn {
        padding: 18px;
        font-size: large;
    }
    
}